alembic==1.7.7
ansi2html==1.7.0
appdirs==1.4.4
argh==0.26.2
astor==0.8.1
atom-ml==4.13.1
atomicwrites==1.4.0
autopage==0.5.1
backports.weakref==1.0.post1
biopython==1.79
bkcharts==0.2
black==19.10b0
Boruta==0.3
BorutaShap==1.0.16
boto==2.49.0
Brotli==1.0.9
brotlipy==0.7.0
category-encoders==2.4.1
chart-studio==1.1.0
chembl-webresource-client==0.10.8
clyent==1.2.2
cmaes==0.9.0
cmd2==2.4.2
colorlog==6.6.0
colour==0.1.5
conda==22.11.1
conda-build==3.22.0
conda-verify==3.4.2
convertdate==2.4.0
deap==1.3.1
dill==0.3.4
distlib==0.3.6
docker==5.0.3
docker-pycreds==0.4.0
dtreeviz==1.3.6
easydict==1.11
eli5==0.13.0
et-xmlfile==1.1.0
explainerdashboard==0.3.8.2
factor-analyzer==0.4.0
fasteners==0.17.3
fastprogress==1.0.3
featuretools==1.9.0
flake8==4.0.1
Flask==2.0.2
Flask-Compress==1.12
Flask-SeaSurf==1.1.1
flask-simplelogin==0.1.1
Flask-WTF==0.15.1
fonttools==4.25.0
frozenlist==1.3.0
future==0.18.2
gast==0.5.3
GDM==0.8.2
gensim==4.3.2
google-api-core==2.10.2
google-api-python-client==2.64.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
google-pasta==0.2.0
googleapis-common-protos==1.56.4
gplearn==0.4.2
graphviz==0.20
grpcio==1.49.1
gsd==2.5.3
gunicorn==20.1.0
h5py==3.8.0
hdf5plugin==4.1.1
HeapDict==1.0.1
hijri-converter==2.2.3
holidays==0.13
htmlmin==0.1.12
httplib2==0.20.4
idna==3.3
ImageHash==4.2.1
imbalanced-learn==0.9.0
imgkit==1.2.2
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.0.2
ipykernel==6.9.1
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
json-tricks==3.16.1
json5==0.9.6
jsonref==0.2
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.1
jupyter-dash==0.4.2
kaleido==0.2.1
keras==2.11.0
keyring==23.4.0
kiwisolver==1.3.2
kneed==0.7.0
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.6.0
libclang==16.0.6
lightgbm==3.3.2
llvmlite==0.38.0
locket==1.0.0
lxml==4.9.1
Mako==1.2.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
MDAnalysis==2.2.0
mdtraj==1.9.7
missingno==0.5.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-service==2.4.0
mlflow==1.26.0
mmtf-python==1.1.2
mock==4.0.3
monotonic==1.5
mpmath==1.2.1
mrcfile==1.3.0
mrmr-selection==0.2.5
mst-clustering==1.0
multimethod==1.8
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.7
nose==1.3.7
nni==2.10
numpy==1.24.1
numpydoc==1.2
nvflare==2.0.18
oauthlib==3.2.0
olefile==0.46
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==3.0.5
oyaml==1.0
packaging==21.3
pandas==1.5.3
pandas-profiling==3.1.0
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
path==16.4.0
pathlib2==2.3.6
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.2
pbr==5.11.0
pd2ppt==0.1.0
pep8==1.7.1
pexpect==4.8.0
phik==0.12.2
pickle-compat==2.1.1
pickleshare==0.7.5
Pillow==9.0.1
pkginfo==1.8.3
platformdirs==2.5.2
plotly==5.8.0
prettytable==3.5.0
prometheus-flask-exporter==0.20.1
protobuf==3.19.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.21
pycurl==7.44.1
pydantic==1.9.0
pydocstyle==6.1.1
pyDRMetrics==0.0.5
pyerfa==2.0.0
pyflakes==2.4.0
Pygments==2.11.2
PyJWT==2.3.0
pylint==2.12.2
pyls-spyder==0.4.0
PyMeeus==0.5.11
pymrmr==0.1.11
pynndescent==0.5.7
pyodbc==4.0.32
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
pyrsistent==0.18.0
PySocks==1.7.1
pytest==7.1.1
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-pptx==0.6

